This is a project done by APELETE ADODO SOSSOU, Student at this time at Sorbonne Paris Nord University.
The Project is : Credit Card Fraud Detection using Machine Learning in Python

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.exceptions import ConvergenceWarning
import warnings

In [2]:
#We are going to load the dataset
credit_card_data=pd.read_csv('credit_data.csv')

In [3]:
#the frist rows of our data
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
#The last rows of the data
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
#Some informations about our dataset
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
#Number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#Distribution of legit transactions and fraudulent transaction
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

As the result is showing us, this dataset is highly unbanlanced and if we use it like that, our model will not perform well. 0 means Normal transaction and 1 means fraudulent transaction

In [8]:
#Now, we're going to separate our data for analysis. This means separate the fraudulent part from the normal one
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [9]:
#Let's see the shape of both the fraudulent and the normal data 
print("The shape of the normal data is :")
print(legit.shape)
print("The shape of the fraudulent data is :")
print(fraud.shape)

The shape of the normal data is :
(284315, 31)
The shape of the fraudulent data is :
(492, 31)

In [10]:
#Statistical measures of the Normal data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
#Statistical measures of the fraudulent data
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
#Comparison of the values of both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling of the data

We are going to normalyze the dataset. This means we are going to build a sample dataset containing similar distribution of normal transaction and the fraudulent one.

The number of Fraudulent transaction is 492

#Let's take randomly the same number of rows from the normal transaction so that our dataset will contain exactly 492 of normal data and 492 of fraudulent data

In [13]:
legit_sample=legit.sample(n=492)

Now let's us concatenate the 2 datasets to form the final dataset we are going to use

In [14]:
new_dataset=pd.concat([legit_sample,fraud], axis=0)

In [15]:
#Now let us see the first rows of that new dataset
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
70539,53913.0,-1.966616,-1.652122,1.840241,1.621184,-0.880835,0.374405,1.028963,0.134275,-0.187599,...,0.668737,0.999786,1.201654,0.395748,-0.045715,-0.233159,0.012794,0.211801,501.38,0
173086,121352.0,1.907033,-0.091103,-1.238093,0.954368,-0.069984,-0.845947,0.132470,-0.249636,1.250003,...,-0.378811,-0.687190,0.172554,-0.029556,0.029623,-0.511571,0.031238,-0.013511,46.50,0
126733,78073.0,1.050599,-0.609987,0.946952,0.048564,-0.831918,0.611324,-0.759061,0.335332,0.930282,...,-0.143151,-0.256316,0.009584,-0.226339,0.064562,0.969288,-0.029732,0.006599,59.14,0
129947,79248.0,1.246104,-0.418749,0.890654,-0.715551,-1.296848,-0.848460,-0.638311,0.021775,1.968114,...,-0.023457,0.135008,-0.023981,0.382987,0.467341,-0.683355,0.087313,0.033218,1.00,0
14000,24889.0,-0.938086,0.314182,1.613350,-0.165104,0.882689,-1.179830,0.123374,0.059893,0.764691,...,-0.283042,-0.948801,0.064152,0.182823,-0.062419,-0.116560,-0.095463,0.015055,0.89,0

In [16]:
#The last rows
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [17]:
#Now we are going to verify if we have the same number of normal transaction 492 which is the number of fraudulent transaction
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

Yes!!! we have successfully under-sampled our dataset

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95832.579268,0.009384,-0.035639,-0.031874,-0.030928,-0.043077,-0.010324,0.017552,0.018096,0.061478,...,0.023774,-0.022803,-0.047193,-0.038756,-0.006197,-0.016081,-0.031528,0.033562,0.005499,104.986098
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Now we can split our dataset into Features and Targets

In [19]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

#Print X 
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
70539    53913.0 -1.966616 -1.652122  1.840241  1.621184 -0.880835  0.374405
173086  121352.0  1.907033 -0.091103 -1.238093  0.954368 -0.069984 -0.845947
126733   78073.0  1.050599 -0.609987  0.946952  0.048564 -0.831918  0.611324
129947   79248.0  1.246104 -0.418749  0.890654 -0.715551 -1.296848 -0.848460
14000    24889.0 -0.938086  0.314182  1.613350 -0.165104  0.882689 -1.179830
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
70539   1.028963  0.134275 -0.187599  ...  1.385647  0.668737  0.999786
173086  0.132470 -0.249636  1.250003  ... -0.092463 -0.378811 -0.687190
126733 -0.759061  0.335332  0.930282  ...  0.026893 -0.143151 -0.256316
129947 -0.638311  0.021775  1.968114  ... -0.187862 -0.023457  0.135008
14000   0.123374  0.059893  0.764691  ... -0.044868 -0.283042 -0.948801
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
70539   1.201654  0.395748 -0.045715 -0.233159  0.012794  0.211801  501.38
173086  0.172554 -0.029556  0.029623 -0.511571  0.031238 -0.013511   46.50
126733  0.009584 -0.226339  0.064562  0.969288 -0.029732  0.006599   59.14
129947 -0.023981  0.382987  0.467341 -0.683355  0.087313  0.033218    1.00
14000   0.064152  0.182823 -0.062419 -0.116560 -0.095463  0.015055    0.89
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [20]:
#print Y
print(Y)

70539     0
173086    0
126733    0
129947    0
14000     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Now let's split our data into training sample and testing sample

In [21]:
X_train,X_test, Y_train, Y_test=train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [22]:
#The shape of our training, testing and our actual dataset
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Now it's time for Model training

Logistic Regression because it is about deciding if or not a transaction is fraudulent. 1 or 0

In [27]:


# Construct a pipeline with preprocessing and logistic regression
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('logistic', LogisticRegression())
])

# Define parameter grid for GridSearchCV
param_grid = {
    'logistic__max_iter': [500, 1000, 1500],
    'logistic__solver': ['lbfgs', 'sag', 'saga']
}


# Perform grid search with cross-validation
grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring='accuracy', n_jobs=-1)
grid_search.fit(X_train, Y_train)

# Print best parameters and score
print("Best parameters:", grid_search.best_params_)
print("Best cross-validation accuracy:", grid_search.best_score_)
best_model = grid_search.best_estimator_

Best parameters: {'logistic__max_iter': 500, 'logistic__solver': 'lbfgs'}
Best cross-validation accuracy: 0.9351850358784166

In [28]:
#But what did the model predicted for the training data?

test_accuracy = best_model.score(X_train, Y_train)
test_accuracy_training = best_model.score(X_train, Y_train)
print("training set accuracy :", test_accuracy)

training set accuracy : 0.9504447268106735

In [29]:
# Evaluate the best model on the test set
test_accuracy = best_model.score(X_test, Y_test)
print("Test set accuracy:", test_accuracy)

Test set accuracy: 0.9390862944162437

That's great, the accuracy score for the training and the test sample are awesome and are very similar, So, the model is performing very well